.App {
  text-align: center;
}

.App-logo {
  height: 10vmin; /* Change this value to adjust the size */
  pointer-events: none;
}

/* Comment out or remove this media query to stop the rotation */
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* You can also comment out or remove this keyframes if it's not used elsewhere */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.large-button {
  font-size: 20px; /* Larger font size */
  padding: 10px 20px; /* More padding for larger button */
  width: 200px; /* Specific width, optional */
  height: 50px; /* Specific height, optional */
  /* Add more styling as needed */
}

.gatt-server {
  display: flex;
  justify-content: space-between;
}

.gatt-controls  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gatt-plot {
  flex: 1;
  padding: 10px;
}

/* In your CSS file */
.input-width-ch {
  width: 4ch; /* Set the desired character count */
}

/* In your CSS file */
.chart-container {
  width: 900px;
  height: 900px;
}
